@import '../../../styles//variables.scss';

.button {
  align-items: center;
  background-color: $off-white;
  border: 1px solid $off-black;
  color: $off-black;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $off-white;
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }

  .icon {
    margin-right: 0.5rem;
    display: grid;
    place-items: center;
  }
}