@import '../../../styles/variables.scss';

.lightbox {
  align-items: center;
  background-color: $off-black;
  display: grid;
  gap: 1rem;
  grid-template-columns: 30% 1fr;
  justify-content: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;

  .infoBox {
    padding-left: 10rem;  
    z-index: 100;

    h2 {
      color: $green;
      max-width: 26rem;
      word-wrap: break-word;
    }

    h3 {
      color: $off-white;
    }
    
    h4 {
      color: $off-white;
      font-size: 1.2rem;
    }

    p {
      color: $off-white;
    }

    .associatedProjects {
      list-style: none;
      padding: 0;

      .projectRow {
        align-items: center;
        display: flex;

        .minusIconWrapper {
          cursor: pointer;
          height: 1.5rem;
          width: 1.5rem;
        }

        p {
          color: $off-white;
          margin-right: 1rem;
        }
      }
    }

    .actions {
      margin-top: 2rem;

      .eyeIconWrapper {
        cursor: pointer;
        object-fit: contain;
        height: 2rem;
        width: 2.6rem;
      }
    }
  }

  .imageContainer, .videoContainer {
    display: grid;
    grid-template-rows: 100%;
    place-items: center;
    
    .imageWrapper {
      max-height: 100%;
      object-fit: none;
      z-index: 100;
    }

    video {
      display: block;
      width: 80%;
    }
  }

  .iconWrapper {
    cursor: pointer;
    max-height: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    z-index: 120;
  }

  .messageModal {
    align-items: center;
    background-color: $off-white;
    border: 2px solid $red;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20rem;
    padding: 2rem;
    position: fixed;
    top: calc(50% - 10rem);
    left: 0;
    z-index: 200;
  }
}



.hidden {
  display: none;
}