@import '../../../styles/variables.scss';

.footer {
  align-items: center;
  background-color: $off-black;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  min-height: 24rem;
  padding: 0 5rem;

  .logoWrapper {
    height: 24rem;
    width: 24rem;
  }
  
  .adressBox {
    color: $off-white;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 24rem;
    justify-content: space-around;
    padding: 3rem 0 1rem;

    h3 {
      color: $off-white;
      font-size: 3.6rem;
    }

    p, a {
      color: $off-white;
      font-size: 2rem;
      text-decoration: none;
    }

    a:hover {
      color: $white;
    }

    .phone {
      cursor: pointer;
      font-size: 2.4rem;
    }

    .copyright {
      font-size: 1.6rem;
      margin-top: auto;
    }
  }
}