@import '../../../styles/variables.scss';

.projectContainer {
  padding: 1rem;
  width: 100%;

  .disabled {
    opacity: 0.25;
  }

  .projectHeader {
    align-items: center;
    background-color: $white;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    .descriptionRow {
      background-color: blue;
      min-height: 10rem;
    }

   .titleRow, .descriptionRow {
     align-items: baseline;
     display: flex;
     flex-direction: column;
     margin: 0.5rem 0;
     width: 50rem;

     .titleAndEditIcon {
        align-items: center;
        background-color: $off-white;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        min-width: 100%;

        h2 {
          margin: 2px 0;
        }

        .editIconWrapper {
          cursor: pointer;
          height: 1.4rem;
          width: 1.4rem;
        }
     }

     .titleAndSubmitIcon {
      align-items: center;
      background-color: $off-white;
      display: flex;
      justify-content: space-between;
      min-width: 45rem;
      padding-right: 1rem;
      
      input {
        background-color: $off-white;
        color: $off-black;
        font-family: 'Outfit', sans-serif;
        font-size: 2.8rem;
        font-weight: 700;
        margin: 0.2rem 0;
        padding: 0.5rem 1rem;
        min-width: 47.6rem;
      }

      .submitIconWrapper {
        cursor: pointer;
        height: 1.4rem;
        width: 1.4rem;
      }
     }

     .descriptionAndEditIcon {
      align-items: center;
      background-color: $off-white;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      min-width: 100%;
      min-height: 10rem;

      p {
        align-self: flex-start;
        max-width: 80%;
      }

      .editIconWrapper {
        cursor: pointer;
        height: 1.4rem;
        width: 1.4rem;
      }
   }

   .descriptionAndSubmitIcon {
    align-items: center;
    background-color: $off-white;
    display: flex;
    justify-content: space-between;
    min-width: 45rem;
    padding-right: 1rem;
    
    textarea {
      background-color: $off-white;
      color: $off-black;
      font-family: 'Roboto', sans-serif;
      font-size: 1.6rem;
      resize: none;
      min-height: 10rem;
      margin: 0;
      padding: 1rem 1rem;
      min-width: 47.6rem;
    }

    .submitIconWrapper {
      cursor: pointer;
      height: 1.4rem;
      width: 1.4rem;
    }
   }

   }

   .actions {
     .actionMenu {
       align-items: center;
       display: flex;
       list-style: none;
       margin: 0;
       padding: 0;

       .actionMenuItem {
          cursor: pointer;
          height: 2.2rem;
          margin-left: 1rem;
          width: 2.2rem;

          &.large {
            height: 2.6rem;
            width: 2.6rem;
          }
       }
     }
   }
  }

  .addContentWrapper, .contentWrapper {
    background-color: $white;
    margin: 1rem 0 0;
    min-height: 55rem;
    padding: 1rem;
    
    &.isEmpty {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      p {
        display: flex;

        span {
          display: inline-block;
          margin: 0 0.5rem;
          height: 1.8rem;
          width: 1.8rem;
        }
      }
    }

    h3 {
      margin: 1rem 0;
      padding-left: 1rem;
    }

    .addContentHeader, .removeContentHeader {
      align-items: center;
      display: flex;
      justify-content: space-between;
      min-height: 4rem;

      .closeIconWrapper {
        cursor: pointer;
        height: 1.4rem;
        width: 1.4rem;
      }

      p {
        margin: 0;
      }
    }
    
    .imageList, .videoList {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, 23.9%);
      list-style: none;
      margin: 0;

      .imageWrapper, .videoWrapper {
        border: 1px solid transparent;
        box-shadow: 0 1px 4px $shadow;
        display: flex;
        flex-direction: column;
        position: relative;

        &.selectable {
          cursor: pointer;
        }

        &.selectedToAdd {
          border: 5px solid $green;
        }

        &.selectedToRemove {
          border: 5px solid $red;
        }

        .deleteIconWrapper, .addOrCancelIconWrapper {
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 50%;
          box-shadow: 0 1px 2px $shadow;
          cursor: pointer;
          display: grid;
          height: 2.5rem;
          place-items: center;
          position: absolute;
          right: 1rem;
          top: 1rem;
          width: 2.5rem;

          &:hover {
            background-color: rgba(255, 255, 255, 0.7);
          }

          &.disabled {
            display: none;
          }
        }

        .fileName {
          font-weight: 500;
          margin-top: auto;
          word-wrap: break-word;
          padding: 1rem;
        }
      }
    }

    .imageList{
      padding: 1rem 0;
      
      .imageWrapper {
        background-color: $white;
        padding: 0.5rem;
        width: 100%;
      }
    }

    .videoList {
      padding: 0 0 1rem;

      .videoWrapper {      
        grid-column: span 2;
        
        video {
          display: block;
          width: 100%;
        }
      }

    }
   

  }
}