@import '../../../styles/variables.scss';

.mainContainer {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;

  .videoList {
    list-style: none;
    padding: 0;

    .videoContainer {
      display: flex;
      justify-content: center;
      margin: 0 0 3rem;
      width: 100%;

      video {
        width: 100%
      }
    }
  }
}