@import '../../../../styles/variables.scss';

.lightbox {
  align-items: center;
  background-color: $off-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;

  .imageWrapper {
    z-index: 100;
    object-fit: contain;
  }

  .iconWrapper {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    z-index: 120;
  }
}

.hidden {
  display: none;
}