@import '../../../../styles/variables.scss';

.lightbox {
  align-items: center;
  background-color: $off-black;
  display: grid;
  gap: 1rem;
  grid-template-columns: 30% 1fr;
  justify-content: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;

  .infoBox {
    padding-left: 10rem;
    z-index: 100;

    h3, h4 {
      color: $off-white
    }

    h4 {
      font-size: 1.2rem;
    }
  }

  .imageContainer {
    display: grid;
    place-items: center;

    .imageWrapper {
      align-self: center;
      object-fit: none;
      z-index: 100;
    }
  }

  .iconWrapper {
    cursor: pointer;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    z-index: 120;
  }
}

.hidden {
  display: none;
}