@import '../../../styles/variables.scss';

.mainContainer {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;

  .imageList {
    list-style: none;
    padding: 0;

    .imageWrapper {
      width: '100%';
      max-width: auto;
      overflow: hidden;
      position: relative;
      margin-bottom: -1px;
    }
  }
}