@import '../../../styles//variables.scss';

.clientSection {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;

  h2 {
    font-size: 5rem;
  }

  .clientList {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      max-width: 90%;

    .clientCard {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: fit-content;
      justify-content: center;
      margin: 1.4rem;
      padding: 2rem;
      width: fit-content;

      h3 {
        margin-top: 1rem;
      }
    }
  }
}